USE [master]
GO
/****** Object:  Database [IFCCI]    Script Date: 4/25/2020 7:02:04 PM ******/
CREATE DATABASE [IFCCI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IFCCI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\IFCCI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IFCCI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\IFCCI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IFCCI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IFCCI]
GO
/****** Object:  Table [dbo].[Country_Master]    Script Date: 4/25/2020 7:02:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country_Master](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [Country_Master_pk] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Industry_Master]    Script Date: 4/25/2020 7:02:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Industry_Master](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [Industry_Master_pk] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NumberOfEmployee_Master]    Script Date: 4/25/2020 7:02:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NumberOfEmployee_Master](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [NumberOfEmployee_Master_pk] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organization_Master]    Script Date: 4/25/2020 7:02:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organization_Master](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [Organization_Master_pk] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Employer_Account]    Script Date: 4/25/2020 7:02:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Employer_Account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_type_id] [int] NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Password] [varchar](200) NOT NULL,
	[Company_Name] [varchar](500) NOT NULL,
	[Industry] [varchar](500) NOT NULL,
	[Org_Type] [varchar](500) NOT NULL,
	[Landline_Phone] [varchar](20) NOT NULL,
	[Contact_Number] [varchar](20) NOT NULL,
	[Company_Address] [varchar](1000) NOT NULL,
	[Company_website_URL] [varchar](100) NOT NULL,
	[Company_Video] [varchar](100) NOT NULL,
	[Number_of_Employees] [varchar](50) NOT NULL,
	[Company_Description] [varchar](max) NOT NULL,
	[Company_logo] [varbinary](max) NOT NULL,
	[Is_active] [bit] NOT NULL,
	[Full_Name] [varchar](100) NOT NULL,
	[Email_notification_active] [bit] NULL,
	[registration_date] [datetime] NOT NULL,
	[SMS_notification_active] [bit] NULL,
 CONSTRAINT [Tbl_Employer_Account_pk] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Seeker_Account]    Script Date: 4/25/2020 7:02:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Seeker_Account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_type_id] [int] NOT NULL,
	[email] [varchar](255) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[date_of_birth] [date] NOT NULL,
	[gender] [char](1) NOT NULL,
	[Is_active] [bit] NOT NULL,
	[contact_number] [varchar](20) NOT NULL,
	[Full_Name] [varchar](100) NOT NULL,
	[email_notification_active] [bit] NULL,
	[Home_Phone] [varchar](20) NULL,
	[registration_date] [datetime] NOT NULL,
	[Location] [varchar](100) NOT NULL,
	[City] [varchar](100) NOT NULL,
	[Nationality] [varchar](100) NOT NULL,
	[ResumeFileName] [varchar](100) NOT NULL,
	[Current_Address] [varchar](1000) NOT NULL,
	[SMS_notification_active] [bit] NULL,
 CONSTRAINT [Tbl_Seeker_account_pk] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_User_Type]    Script Date: 4/25/2020 7:02:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_User_Type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_type_name] [varchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[UserType] [char](1) NOT NULL,
 CONSTRAINT [Tbl_User_Type_pk] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
