<ul class="sidebar-menu" data-widget="tree">
    @*<li class="header">HEADER</li>*@
    @*<li class="treeview">
            <a href="#">
                <i class="fa fa-user"></i> <span>Manage Account</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/Doctors/Create">Add New</a></li>
                <li><a href="/Doctors">All Doctors</a></li>
                </ul>
        </li>*@
    <!-- Optionally, you can add icons to the links -->
    <li>
        <a href="#">
            @Html.ActionLink("Dashboard", "MainEmployer", "Employer")
            @*@Html.ActionLink("Login", "Login", "Home")
                @Html.ActionLink("register", "register", "Home")*@
            <i class="fa fa-user"></i> <span>Dashboard</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        @*<ul class="treeview-menu">
            <li><a href="/Doctors/Create">Add New</a></li>
            <li><a href="/Doctors">All Doctors</a></li>
            </ul>*@
    </li>
    <li class="">
        <a href="#">
            <i class="fa fa-user"></i> <span>Job offer</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        @*<ul class="treeview-menu">
            <li><a href="/Doctors/Create">Add New</a></li>
            <li><a href="/Doctors">All Doctors</a></li>
            </ul>*@
    </li>
    <li class="">
        <a href="#">
            <i class="fa fa-user"></i> <span>Review CVs</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        @*<ul class="treeview-menu">
            <li><a href="/Doctors/Create">Add New</a></li>
            <li><a href="/Doctors">All Doctors</a></li>
            </ul>*@
    </li>
    <li class="">
        <a href="#">
            <i class="fa fa-user"></i> <span>Schedule Appointments</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        @*<ul class="treeview-menu">
            <li><a href="/Doctors/Create">Add New</a></li>
            <li><a href="/Doctors">All Doctors</a></li>
            </ul>*@
    </li>
    
</ul>